<form id="form-d" action="\excluir" method="POST">
    <html lang="pt-br"></html>
    <p>Código</p>
    <br>
    <input type="text" name="id">
    <br>
    <button type="submit">Excluir Postagem</button>
</form>

<style>

#form-d {
    margin-top: 50px;
}

</style>

