<div id="formed">
<form action="\atualizar" method="POST">
    <p>Código</p>
    <br>
    <input type="text" name="id">
    <br>
    <p>Nome Funcionário</p>
    <br>
    <input type="text" name="nomefunc">
    <br>
    <p>Conteúdo:</p>
    <br>
    <textarea name="conteudo" id="" cols="30" rows="10"></textarea>
    <button type="submit">Editar Postagem</button>
</form>
</div>

<style>
#formed {
  margin-top: 70px;
}
</style>
