<div id="formad">
<form action="\salvar" method="POST">
    <html lang="pt-br"></html>
    <p>Nome Funcionário:</p>
    <br>
    <input type="text" name="titulo">
    <br>
    <p>Conteúdo:</p>
    <br>
    <textarea name="conteudo" id="" cols="30" rows="10"></textarea>
    <br>
    <button type="submit">cadastrar postagem</button>
</form>
</div>

<style>
#formad {
  margin-top: 70px;
}
</style>